<div class="container">
  <h2 class="mx-1 my-5 text-secondary border-bottom col-7"><b>感想コメント一覧</b></h2>
  <table class="mx-1 my-2 thoughtse_comment_top table table-hover text-secondary">
    <thead>
      <tr>
        <th>投稿の感想</th>
        <th>書店評価</th>
        <% if admin_signed_in? %>
          <th>
            <%= form_with url: search_admin_comments_path, local: true, method: :get do |f| %>
              <%= f.text_field :word, class:"text-secondary border border-secondary rounded" %>
              <%= f.submit "検索", class: "btn btn-outline-secondary", style: "padding:0;" %>
            <% end %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @thoughtse_comments.each do |thoughtse_comment|%>
        <tr>
          <td><%= thoughtse_comment.content %></td>
          <td id="show_raty<%= thoughtse_comment.id %>"></td>
          <td><%= link_to "削除", admin_comment_path(thoughtse_comment), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-outline-danger float-end" %></td>
        </tr>
        <script>
          $(document).on('turbolinks:load', function() {
            let elem = document.querySelector('#show_raty<%= thoughtse_comment.id %>');
            if (elem == null) return;
            elem.innerHTML = "";
            let opt = {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: "<%= thoughtse_comment.evaluation_score %>",
              readOnly: true,
            };
            raty(elem, opt);
          });
        </script>
      <% end %>
    </tbody>
  </table>
  <div class="mx-1">
    <%= paginate @thoughtse_comments %>
  </div>
</div>