<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="mx-1 my-5 text-secondary border-bottom col-4"><b>お客様一覧</b></h2>
      <table class="mx-1 my-2 table table-hover align-middle text-secondary">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>ニックネーム</th>
            <th>ステータス</th>
            <% if admin_signed_in? %>
              <th>
                <%= form_with url: search_admin_customers_path, local: true, method: :get do |f| %>
                  <%= f.select :is_active, [["有効", true], ["退会", false]], {include_blank: "全て"}, {class: "form-control form-control-sm d-inline", style: "width: 100px;"} %>
                  <%= f.submit "検索", class: "btn btn-outline-secondary", style: "padding:0;" %>
                <% end %>
              </th>
            <% end %>
          </tr>
        </thead>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.name, admin_customer_path(customer.id), class:"text-secondary" %></td>
            <td class="<%= customer.is_active ? 'text-secondary' : 'text-danger' %>"><%= customer.is_active ? '有効' : '退会' %></td>
            <td></td>
          </tr>
        <% end %>
      </table>
      <div class="mx-1">
        <%= paginate @customers %>
      </div>
    </div>
  </div>
</div>
