<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="mx-1 my-5 text-secondary border-bottom col-4"><b>新規会員登録</b></h2>
      <%= form_with model: @customer, url: customer_registration_path do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <table class="table table-borderless text-secondary mx-1 my-2">
          <tr>
        <!--<div class="field">-->
            <th><%= f.label :name, "ニックネーム", class:"border-bottom" %></th>
            <td><%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "はるちゃん", class:"text-secondary border rounded" %></td>
          </tr>
        <!--</div>-->
          <tr>
        <!--<div class="field">-->
            <th><%= f.label :email, "メールアドレス", class:"border-bottom" %></th><br />
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email@email", class:"text-secondary border rounded" %></td>
        <!--</div>-->
          </tr>
          <tr>
        <!--<div class="field">-->
            <th><%= f.label :address, "住所", class:"border-bottom" %></th>
            <td><%= f.select :address, options_for_select(prefecture_options), { include_blank: '選択してください' }, {class:"text-secondary border boder-secondary rounded"} %></td>
        <!--</div>-->
          </tr>
          <tr>
        <!--<div class="field">-->
            <th><%= f.label :age, "年齢", class:"border-bottom" %></th>
            <td><%= f.text_field :age, autofocus: true, placefield: "67", placeholder: "67", class:"text-secondary border rounded" %></td>
        <!--</div>-->
          </tr>
          <tr>
        <!--<div class="field">-->
            <th><%= f.label :occupation, "職業", class:"border-bottom" %></th>
            <td><%= f.text_field :occupation, autofocus: true, placefield: "管理職", placeholder: "管理職", class:"text-secondary border rounded" %></td>
        <!--</div>-->
          </tr>
          <tr>
        <!--<div class="field">-->
            <th><%= f.label :password, "パスワード", class:"border-bottom" %></th>
          <%# if @minimum_password_length %>
          <!--<em>(<%#= @minimum_password_length %> characters minimum)</em>-->
          <!--<%# end %><br />-->
            <td><%= f.password_field :password, autocomplete: "new-password", placeholder: "半角英数字8文字以上", class:"text-secondary border rounded" %></td>
        <!--</div>-->
          </tr>
          <tr>
        <!--<div class="field">-->
            <th><%= f.label :password_confirmation, "確認用", class:"border-bottom" %></th><br />
            <td><%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "半角英数字8文字以上", class:"text-secondary border rounded" %></td>
        <!--</div>-->
          </tr>
          <tr>
        <!--<div class="actions">-->
            <td><%= f.submit "新規登録", class:"text-center btn btn-outline-success btn-sm" %></td>
            <td><%= render "public/shared/links" %></td>
        <!--</div>-->
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>