<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="mx-1 my-5 text-secondary border-bottom col-4"><b>マイページ編集</b></h2>
      <%= form_with model: @book_store, url: book_store_book_store_path(@book_store), local: true do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <table class="mx-1 my-2 table table-borderless text-secondary">
          <tr>
            <th><%= f.label :name, "書店名", class:"border-bottom" %></th>
            <td><%= f.text_field :name, class:"border border-secondary form-text text-muted form-control-sm" %></td>
          </tr>
          <tr>
            <th><%= f.label :email, "メールアドレス", class:"border-bottom" %></th>
            <td><%= f.text_field :email, class:"border border-secondary form-text text-muted form-control-sm" %></td>
          </tr>
          <tr>
            <th><%= f.label :age, "創立年齢", class:"border-bottom" %></th>
            <td><%= f.text_field :age, class:"border border-secondary form-text text-muted form-control-sm" %></td>
          </tr>
          <tr>
            <th><%= f.label :telephone_number, "電話番号 [ハイフンなし]", class:"border-bottom" %></th>
            <td><%= f.text_field :telephone_number, class:"border border-secondary form-text text-muted form-control-sm" %></td>
          </tr>
          <tr>
            <th><%= f.label :address, "住所", class:"border-bottom" %></th>
            <td><%= f.text_field :address, class:"border border-secondary form-text text-muted form-control-sm" %></td>
          </tr>
          <tr>
            <th>店内画像</th>
            <td><%= f.file_field :image, placeholder: "店内画像", accept: "image/*" %></td>
          </tr>
          <tr>
            <th><%= f.label :tag, 'タグ' %></th>
            <td><%= f.text_field :tag, value: f.object.tags.pluck(:name) %><br>
            <small>半角スペースで区切ることで複数指定できます。</small>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "編集内容を保存", class:"btn btn-outline-info" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>