<div class="container">
  <div class="row">
    <div class="col">
    <h2 class="mx-1 my-5 text-secondary border-bottom col-4"><b>リクエスト一覧</b></h2>
      <table class="mx-1 my-2 table table-hover table-inverse align-middle text-secondary">
        <thead>
          <tr>
            <th>ニックネーム</th>
            <th>リクエスト内容</th>
            <% if book_store_signed_in? %>
              <th>
                <%= form_with url: search_book_store_request_comments_path, local: true, method: :get do |f| %>
                  <%= f.text_field :word, class:"text-secondary border border-secondary rounded" %>
                  <%= f.submit "検索", class: "btn btn-outline-secondary", style: "padding:0;" %>
                <% end %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @request_comments.each do |request_comment| %>
            <tr>
              <td>
                <%= request_comment.customer.name %>
              </td>
              <td>
                <%= request_comment.content %>
              </td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="mx-1">
        <%= paginate @request_comments %>
      </div>
    </div>
  </div>
</div>